*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 100vw;
}

.logo {
    width: 300px;
}

#banner {
    max-width: 600px;
    width: 50vw;
    margin-left: 50px;
    margin-right: 5vw;
}

header {
    width: 100vw;
    background-color: #FFF3F3;
    display: flex;
    padding: 20px 3vw;
    justify-content: space-between;
    align-items: center;
    height: 15vh;

    img {
        max-height: 80%;
    }
}

nav {
    width: 100vw;
    background-color: #8E1616;
    height: 5vh;
    padding: 0px 20px;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        a {
            text-decoration: none;

            li {
                color: white;
                list-style: none;
                font-size: 3vh;
                padding: 5px 10px;
            }
        }
    }
}

main {
    width: 100vw;
    background: url(../img/traffic-332857_1920.jpg) #CECECE;
    background-size: 100% 100vh;
    background-repeat: no-repeat;

    h1 {
        padding: 3vw 8vh;
        padding-bottom: 2vh;
        font-size: 8vh;
        font-weight: normal;
        color: white;
    }

    #calculatorForm {
        background-color: rgba(255, 255, 255, 0.774);
        margin: 0 10vw;
        padding: 5vw;
        padding-bottom: 20vh;
        width: auto;
        border: solid grey 3px;
        border-radius: 2px;
        text-align: center;

        h2 {
            font-size: 4vw;
            font-weight: 600;
        }

        #fields {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .inputField {
                text-align: left;
                width: 30%;
                min-width: 220px;
                margin: 5vh 3%;

                p {
                    font-size: 2vh;
                    font-weight: bold;
                }

                $fieldHeight: 5vh;
                $fieldWidth: 100%;

                input {
                    height: $fieldHeight;
                    width: $fieldWidth;
                }

                select {
                    height: $fieldHeight+0.8vh;
                    width: $fieldWidth+2%;
                }
            }
        }

        #submitButton {
            background-color: #339235;
            color: white;
            width: 25%;
            min-width: 120px;
            height: 5vh;
            justify-self: center;
            font-size: 3vh;
            border-radius: 15px;
        }

        #calculationResult {
            margin-top: 5vh;
            color: #339235;
            font-size: 5vh;
        }
    }

    #promise {
        padding: 2vh;
        width: 100vw;
        text-align: center;
        font-size: 4vh;
        font-weight: 550;
        color: rgb(59, 59, 59);
        h3{
            font-size: 6vh;
            font-weight: 600;
        }
    }

    #insurancePlans {
        background-color: white;
        width: 100vw;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .plan {
            margin: 20px;
            padding: 20px;
            width: 25%;
            min-width: 300px;
            background-color: white;
            border: solid grey 1px;
            border-top: solid black 2px;
            box-shadow: 3px 3px 10px 0;
            .planHead{
                min-width: 480px;
                padding-bottom: 5px;
                h4{
                    color: darkblue;
                    font-size: 3vh;
                    font-weight: 300;
                }
            }
            ul{
                padding-bottom: 20px;
                li{
                    padding: 10px 0;
                    list-style: none;
                }
                li:before{
                    content:"\2714\0020";
                    color: green;
                }
            }
        }
    }
}

footer {
    height: 15vh;
    padding: 10px 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;

    nav {
        align-self: flex-start;
        order:1;
        background-color: black;
    }
    img{
        align-self: center;
        order: 3;
    }
    p{
        align-self: flex-end;
        justify-self: center;
        order: 2;
        word-wrap: none;
        white-space: nowrap;
    }
}

@media screen and (max-width 480px){
    #banner{
        display: none;
    }
    .inputField{
        width: 80%;
    }
    .plan{
        width: 80%;
        margin: 10px;
    }
    
    footer{
        height: 20vh;
        justify-content: center;
    }
}